# NER Pipeline Dependencies
# Install in order:
#   pip install -r requirements.txt
#   pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_lg-0.5.4.tar.gz

spacy>=3.5.0,<4.0.0
scispacy>=0.5.4
pandas>=1.5.0
numpy>=1.23.0
scikit-learn>=1.2.0
tqdm>=4.60.0
